/* Style fixs by dimpurr */

.stylefix.problem_list_fix {
	margin-bottom: 15px;
}

.stylefix.problem_list_fix input, .stylefix.problem_list_fix select {
	margin-left: 10px;
	margin-right: 10px;
}

#filter.stylefix.content_fix > div {
	width: 200px;
	display: inline-block;
	margin-left: 15px;
}

.stylefix.problem_style_fix .form-group {
	display: inline-block;
	margin-right: 10px;
}

.stylefix.problem_style_fix .noinline {
	display: block;
}

.stylefix.problem_style_fix .control-label[for="id_groups"] {
	position: relative;
	top: -38px;
	left: 50px;
}

.stylefix #id_is_spj input {
	top: -16px;
}