{% extends "site_base.html" %}
{% block head_title %}{{ contest.title }}{% endblock %}
{% block body %}
<div class="page-header">
    {%if is_admin %}
        {%if contest.ended == 1 %}<a class="btn btn-inverse pull-right" href="{% url 'cheat:record-list' contest.pk %}">代码查重</a>{%endif%}
        <a class="btn pull-right" href="#" id="rejudge-problem-button" data-toggle="modal" data-target="#rejudge-problem-modal">重判题目</a>
        <a class="btn pull-right" href="{% url 'contest:add-notification' contest.pk %}">添加公告</a>
        <a class="btn btn-primary pull-right" href="{% url 'contest:update-contest' contest.pk %}">修改测验</a>
    {%else%}
        <a class="btn btn-primary pull-right" href="{% url 'contest:add-question' contest.pk %}">添加提问</a>
    {%endif%}
    {% block contest_title %}
    <h1>{{ contest.title }}
        <small>{% if contest.ended == 1 %}已结束{% elif contest.ended == 0 %}进行中{% else %}未开始{% endif %}</small>
    </h1>
        <br>
        {% if contest.last_notification %}
        <h4>
        <strong>New Notification: </strong><a href="{% url 'contest:notification-list' contest.pk %}">{{ contest.last_notification }}</a>
        </h4>
        {% endif %}
    {% endblock %}
</div>

<ul class="nav nav-pills">
    <li id="contest_home"><a href="{% url "contest:contest-detail" contest.pk %}">测验首页</a></li>
    <li id="contest_submit"><a href="{% url "contest:submission-add" contest.pk %}">提交代码</a></li>
    <li id="contest_status"><a href="{% url "contest:submission-list" contest.pk %}">结果列表</a></li>
    <li id="contest_query"><a href="{% url "contest:clarification-list" contest.pk %}">提问列表</a></li>
    <li id="contest_board"><a href="{% url "contest:board" contest.pk %}">排行榜</a></li>
    {% if contest.ended == 0 and contest.printer_url != None %}
        <li id="contest_printer"><a href="{% url "contest:printer" contest.pk %}">打印服务</a></li>
    {% endif %}
    {%if tpl.has_priv%}<li id="contest_balloon"><a href="/contest/{{ contest.pk }}/balloon/">气球</a></li>{% endif %}
</ul>
<div id="contest_info">
    <div class="kari-head-info">
        <span class="kari-head-info"><strong>课程分班 </strong>{{ contest.group.nickname }}</span>
        {%if contest.description%}<br><br><span class="kari-head-info"><strong>测验描述 </strong>{{ contest.desc|safe }}</span>{%endif%}
    </div>
    <div class="kari-head-info">
        <span class="kari-head-info"><strong>当前时间 </strong><span class="clock">{{ contest.server_time }}</span></span>
        <span class="kari-head-info"><strong>开始时间 </strong>{{ contest.start_time|date:"Y-m-d H:i:s" }}</span>
        <span class="kari-head-info"><strong>总长 </strong>{{ contest.length }} 分钟</span>
        <span class="kari-head-info"><strong>剩余 </strong><span style="margin-right:0;" class="leftTime"></span></span>
    </div>
    <div class="row">
        <div class="progress span12"><div class="progress-bar"></div></div>
    </div>
</div>
    <div class="container" id="wrapper">
{% block contest_body %} {% endblock contest_body %}
  </div>
    {% if is_admin %}
        <div class="modal fade" id="rejudge-problem-modal" tabindex="-1" role="dialog" aria-labelledby="rejudge-problem-modal-label">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="rejudge-problem-modal-label">重判题目</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="problem-to-rejudge" class="control-label">题目：</label>
                                <select class="form-control" id="problem-to-rejudge">
                                    {% for problem in contest.problems.all %}
                                        <option value="{{ problem.index }}">{{ problem.index }}. {{ problem.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                        <p class="text-danger">警告：将重判该场比赛中指定题目的全部提交</p>
                        <button class="btn btn-danger" id="confirm-rejudge-problem">确定</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script src="{{ STATIC_URL }}js/jquery-2.1.1.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>
        Date.prototype.format = function(format) {
            var o = {
                "M+" : this.getMonth() + 1,// month
                "d+" : this.getDate(),// day
                "h+" : this.getHours(),// hour
                "m+" : this.getMinutes(),// minute
                "s+" : this.getSeconds(),// second
                "q+" : Math.floor((this.getMonth() + 3) / 3),// quarter
                "S" : this.getMilliseconds()
            // millisecond
            };
            if (/(y+)/.test(format) || /(Y+)/.test(format)) {
                format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            for ( var k in o) {
                if (new RegExp("(" + k + ")").test(format)) {
                    format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
                }
            }
            return format;
        };
        function formatSeconds(sec) {
            var mm = parseInt(sec%3600/60);
            var ss = sec%60;
            return "" + parseInt(sec/3600) + ":" + (mm<10?"0":"") + mm + ":" +  (ss<10?"0":"") + ss;
        }

        var timestamp = {{ contest.server_time }}*1000;//毫秒
        var updateTime = function(){
            $('.clock').html(new Date(timestamp).format("yyyy-MM-dd hh:mm:ss"));
            timestamp+=1000;
            return updateTime;
        }
        setInterval(updateTime(), 1000);


        var leftTime = {{ contest.time_left }};//秒
        var totTime = {{ contest.length }}*60; //秒
        var updateLeftTime = function() {
            if (leftTime >= 0) {
                $('.leftTime').html(formatSeconds(leftTime));
                $('.progress-bar').width((1-leftTime/totTime)*100+"%");
            }
            else {
                alert("比赛已结束！");
                location.reload();
            }
            if (leftTime > 0) --leftTime;
            return updateLeftTime;
        }
        if(leftTime>0){
            setInterval(updateLeftTime(), 1000);
        }else{
            $('.leftTime').html(formatSeconds(0));
            $('.progress-bar').width("100%");
        }
    </script>
    <script>
        function rejudgeProblem(index) {
            url = [
                "/api/contest/{{ contest.pk }}/problem/",
                index,
                "/rejudge/"
            ].join('');

            $.post(url).success(function() {
                location.reload();
            }).error(function (error) {
                if (typeof error.responseJson !== "undefined") {
                    alert(error.responseJson.detail);
                }
                else
                    alert("未知错误：" + error.status)
            });
        }

        (function () {
            $("#confirm-rejudge-problem").click(function () {
                rejudgeProblem($("#problem-to-rejudge").val());
            });
        })();
    </script>
    {% block script_extra %}{% endblock %}
{% endblock %}


