{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load mptt_tags %}
{% load django_tables2 %}
{% load guardian_tags %}

{% block head_title %}My Groups{% endblock %}

{% block body_class %}my-groups{% endblock %}

{% block body %}
<section class="jumbotron">
  <div class="container">
    {% include "_messages.html" %}
      {% get_obj_perms request.user for object as "object_perms" %}
    <h1>{{ object.name }} - {{ object.nickname }}</h1>
    <h4>管理员</h4>
    <ul>
      {% for admin in admins %}
      <li>{{ admin.username }}</li>
      {% empty %}
      <li>没有管理员</li>
      {% endfor %}
    </ul>
    <h4>上级组</h4>
	<ul>
      {% for profile in object.get_ancestors %}
	  <li><a href="{%url 'mygroup-detail' profile.pk %}">{{ profile.nickname }}</a></li>
	  {% empty %}
	  <li>没有上级</li>
      {% endfor %}
	</ul>
    <h4>下级组</h4>
    <ul>
      {% for profile in children %}
      <li><a href="{%url 'mygroup-detail' profile.pk %}">{{ profile.nickname }}</a></li>
      {% empty %}
      <li>没有下级</li>
      {% endfor %}
    </ul>
      {% if "change_groupprofile" in object_perms %}
        <a href="{% url 'contest:add-contest' object.pk %}" class="btn btn-large btn-primary">创建考试</a>
        {% endif %}
	<div id="jstree_id">
	</div>
  </div>
  <h3>成员用户</h3>

  {% render_table group_users_table %}


  {% if "change_groupprofile" in object_perms %}
    <div>
        <a href="{% url 'mygroup-add-member' object.pk %}" class="btn btn-large btn-primary">添加组员</a>
        <a href="{% url 'mygroup-reset-password' object.pk %}" class="btn btn-large btn-primary">重置密码</a>
        {% if "delete_groupprofile" in object_perms %}
            <a href="{% url 'mygroup-update' object.pk %}" class="btn btn-large btn-primary">更改组信息</a>
        {% endif %}
    </div>
  {% endif %}
</section>
{% endblock %}

