{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load pinax_webanalytics_tags %}


{% block styles %}
  {% include "_styles.html" %}
{% endblock %}


{% block extra_head_base %}
  {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
  {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
  {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
  {% analytics %}
    <script>
    var h = window.location.href.split("?");
    if (h.length > 1) {
        var href = h[1];
        if (href.length > 0) {
            if (href[0] == "p"){
                if (href[1] == "a") {
                    var hf = href.split("&");
                    hf.shift();
                    href = hf.join("&");
                }
            }
            $("ul.pagination").find("a").each(function () {
                $(this).attr("href", $(this).attr("href") + "&" + href);
            });
        }
    }

    </script>
  {% block extra_body %}{% endblock %}
{% endblock %}
